SECRET_KEY='django-key'
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=User
EMAIL_HOST_PASSWORD=Password
EMAIL_USE_TLS=1
EMAIL_USE_SSL=0

DEFAULT_FROM_EMAIL=no-replay@hop-barley.com