{% extends "base.html" %}
{% block title %}Order Successful | Hop & Barley{% endblock %}
{% load static %}

{% block content %}
<main class="cart-page-wrapper">
  <div class="cart-container">
    <h1 class="cart-title">Order placed!</h1>

    <div class="cart-item">
      <div class="cart-item__body">
        <div class="cart-item__details">
          <h2 class="cart-item__title">Thank you!</h2>
            <p class="cart-item__price">Order #: {{ order.id }} </p>
            <p class="cart-item__price">Placed: {{ order.created_at }}</p>
          <p class="cart-item__price">Total amount: {{ order.total_price }}</p>
          <p class="cart-item__price">Status: {{ order.get_status_display }}</p>
          <p class="cart-item__price">Shipping to:</p>
          <p class="cart-item__price"
          >{{ order.shipping_address|linebreaksbr }}</p>
        </div>
      </div>
    </div>

    <div class="summary-actions">
      <a class="button button--primary button--block" href="{% url 'products:product-list' %}">Continue shopping</a>
    </div>
  </div>
</main>
{% endblock %}