{% extends 'base.html' %}

{% load text_filters %}
{% load static %}

{% block title %}Product catalogue | Hop & Barley{% endblock %}
{% block content %}

<!-- Main Content -->
<main>
    <section class="hero-banner">
        <img src="{% static 'img/background/hopfen-fields.jpg' %}"
             alt="Beautiful hops on a dark background"
             class="hero-banner__image">
        <div class="hero-banner__overlay"></div>
    </section>

    <div class="container main-content-grid">
        <aside class="sidebar filter-menu">
            <div class="sidebar__section">
                <h3 class="section-title">Keywords</h3>
                <div class="keywords-list">
                </div>
            </div>

            <div class="sidebar__section">
                <h3 class="section-title">Product Type</h3>
                <div class="checkbox-group">
                    {% for category in categories %}
                        <label class="checkbox-container">{{ category.name }}
                        <input type="checkbox" data-keyword={{ category.slug }}>
                        <span class="checkmark"></span>
                    </label>
                    {% empty %}
                        <p>Nothing in here</p>
                    {% endfor %}
                </div>
            </div>
            <div class="sidebar__section">
                <button class="button button--primary" id="filter-button"
                >Apply Filter</button>
            </div>

        </aside>

        <section class="products-area product-grid-section">
            <div class="search-sort-bar">
                <div class="search-input-wrapper">
                    <input type="text" placeholder="Search"
                           class="search-input">
                    <button class="search-button" aria-label="Search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="sort-options">
                    <button class="sort-button active-sort">
                        <span>New</span>
                    </button>
                    <button class="sort-button">Price ascending</button>
                    <button class="sort-button">Price descending</button>
                    <button class="sort-button">Rating</button>
                </div>
            </div>

            {% if page_obj.object_list %}
            <!-- Existing product grid -->
            {% else %}
                <div class="no-results">
                <h3>No products found</h3>
                {% if request.GET.q %}
                    <p>
                        No products match your search for "{{ request.GET.q }}"
                    </p>
                {% else %}
                        <p>No products are currently available.</p>
                {% endif %}
                </div>
            {% endif %}

            <div class="product-grid">
                <!-- Product Cards-->
                {% for product in page_obj %}
                    <a href="{% url 'products:product-detail' product.slug %}"
                       class="product-card-link">
                    <div class="product-card">
                        <img src="{{ product.image.url }}"
                             alt="{{ product.name }}"
                             class="product-card__image">
                        <div class="product-card__info">
                            <h4 class="product-card__name">
                                {{ product.name| escape }}</h4>
                            <p class="product-card__price">
                                {% if product.price  %}
                                	{{ product.currency | default:"USD"}}
                                    {{ product.price }}
                                    {% else %}
                                    Price N/A
                                {% endif %}
                            </p>
                            <p class="product-card__rating">
                                {% if product.rating %}
                                    <i class="fa-solid fa-star"></i>
                                    {{ product.rating|floatformat:1 }} of 5
                                {% else %}
                                    <span class="product-card__rating--no-rating ">
                                        No rating yet</span>
                                {% endif %}
                            </p>
                            <p class="product-card__description">
                                {{ product.description|split_at_first_period }}
                            </p>
                        </div>
                    </div>
                </a>
                {% empty %}
                    <p>There are no products available yet</p>
                {% endfor %}
            </div>

            <!-- Pagination section -->
            {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"
                       class="pagination__link pagination__link--prev">
                        <i class="fa-solid fa-arrow-left"></i>
                        <span>Previous</span>
                    </a>
                {% endif %}
                <div class="pagination-list">
                    {% if page_obj.paginator.num_pages <= 7 %}
                        <!-- Show all pages if there are 7 or fewer -->
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <span
                                        class="pagination__link active">
                                    {{ num }}
                                </span>
                            {% else %}
                                <a href="?page={{ num }}"
                                   class="pagination__link">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <!-- pagination for many pages -->
                        {% if page_obj.number <= 4 %}
                            <!-- Show first 5 pages, dots, last page -->
                            {% for num in page_obj.paginator.page_range %}
                                {% if num <= 5 %}
                                    {% if page_obj.number == num %}
                                        <span class="pagination__link active">
                                            {{ num }}
                                        </span>
                                    {% else %}
                                        <a href="?page={{ num }}"
                                           class="pagination__link">
                                            {{ num }}</a>
                                    {% endif %}
                                {% elif num == page_obj.paginator.num_pages %}
                                    <span class="pagination__dots">...</span>
                                    <a href="?page={{ num }}"
                                       class="pagination__link">
                                        {{ num }}</a>
                                {% endif %}
                            {% endfor %}
                        {% elif page_obj.number >= page_obj.paginator.num_pages|add:'-3' %}
                          <!-- Show first page, dots, last 4 pages -->
                            <a href="?page=1" class="pagination__link">1</a>
                            <span class="pagination__dots">...</span>
                            {% for num in page_obj.paginator.page_range %}
                                {% if num >= page_obj.paginator.num_pages|add:'-4' %}
                                    {% if page_obj.number == num %}
                                        <span
                                                class="pagination__link active">
                                            {{ num }}</span>
                                    {% else %}
                                        <a href="?page={{ num }}"
                                           class="pagination__link">
                                            {{ num }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <!-- Show first page, dots, current page area, dots, last page -->
                            <a href="?page=1" class="pagination__link">1</a>
                            <span class="pagination__dots">...</span>
                            {% for num in page_obj.paginator.page_range %}
                                {% if num >= page_obj.number|add:'-1' and num <= page_obj.number|add:'1' %}
                                    {% if page_obj.number == num %}
                                        <span class="pagination__link active">
                                            {{ num }}</span>
                                    {% else %}
                                        <a href="?page={{ num }}"
                                           class="pagination__link">
                                            {{ num }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <span class="pagination__dots">...</span>
                            <a href="?page={{ page_obj.paginator.num_pages }}"
                               class="pagination__link">
                                {{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                    {% endif %}
                </div>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"
                       class="pagination__link pagination__link--next">
                        <span>Next</span>
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                {% endif %}
            </div>
            {% endif %}
        </section>
    </div>
</main>
{% endblock %}